.nav {
    display: flex;
}

.menuClosed {
    display: none;
}

.nav label[for='menuClosed'] {
    display: none;
}

.navMenu {
    list-style: none;
}

.navMenu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.navMenu > li > a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 7px 14px;
    z-index: 1;
    user-select: none;
    color: var(--foreground-secondary);
}

.navMenu > li > a:hover {
    color: var(--foreground-primary);
}

.profile {
    display: none;
}

.burger {
    stroke: var(--foreground-primary);
}

/* .followingDiv {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 3px;
    height: 34px;
    z-index: 0;
    background-color: var(--background-tertiary);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

@media (max-width: 768px) {
    .navMenu {
        position: fixed;
        display: none;
        top: 50px;
        right: 1rem;
        max-width: 100%;
        margin: 0 auto 0 0;
        background-color: var(--background-tertiary);
        z-index: 2;
        border-radius: 3px;
    }

    input:checked + .navMenu {
        display: block;
    }

    .profile {
        display: list-item;
    }
    
    .nav label[for='menuClosed'] {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }
}