.nav {
    display: flex;
}

.nav > ul {
    list-style: none;
}

.nav > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.nav > ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 7px 14px;
    user-select: none;
    color: var(--fg-3);
    transition: color 0.1s ease-in-out;
    font-size: 14px;
}

.nav > ul > li > a:hover {
    color: var(--fg-1);
}
