.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    height: 80px;
    user-select: none;
}

.header > a {
    display: inline-flex;
    font-size: 32px;
    border-radius: 5px;
    outline-offset: 4px;
    color: var(--foreground-primary);
}

.header > nav {
    flex: 1;
}

.header > :not(:nth-child(2)) {
    width: 120px;
}

@media (max-width: 768px) {
    .header > nav {
        display: none;
    }
}

@media (max-width: 550px) {
    .header {
        padding: 0 20px;
        height: 60px;
    }
}
