.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 40px;
    height: 80px;
    user-select: none;
}

.header > div > h1 > a {
    display: inline-flex;
    font-size: 32px;
    border-radius: 5px;
    outline-offset: 4px;
    color: var(--foreground-primary);
}

.header > div > nav {
    flex: 1;
}

.header > div > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header > div > :not(:nth-child(2)) {
    width: 120px;
}

.rightContainer > div > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    padding: 10px 20px;
    z-index: 1;
    color: var(--foreground-secondary);
    background-color: var(--background-secondary);
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;
}

.rightContainer > div > a:hover {
    color: var(--foreground-primary);
    background-color: var(--background-tertiary);
}
