.header {
    padding: 0 40px;
}

.header > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    height: 80px;
    user-select: none;
}

.link {
    font-family: var(--font-heading);
    display: inline-flex;
    font-size: 32px;
    border-radius: 5px;
    outline-offset: 4px;
    color: var(--fg-1);
}

.header > header > nav {
    flex: 1;
}

.header > header > :not(:nth-child(2)) {
    width: 120px;
}

@media screen and (max-width: 768px) {
    .header > header > nav {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .header {
        padding: 0 20px;
    }

    .header > header {
        height: 60px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0 12px;
    }
}
