.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 40px;
    height: 80px;
    user-select: none;
}

.header > h1 > a {
    display: inline-flex;
    font-size: 32px;
    border-radius: 5px;
    outline-offset: 4px;
    color: var(--foreground-primary);
}

.header > nav {
    flex: 1;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header > :not(:nth-child(2)) {
    width: 120px;
}

.profile > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    padding: 10px 20px;
    z-index: 1;
    color: var(--foreground-secondary);
    background-color: var(--background-secondary);
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;
}

.profile > a:hover {
    color: var(--foreground-primary);
    background-color: var(--background-tertiary);
}

/* .burger {
    stroke: var(--foreground-primary);
} */

/* .header > button {
    display: none;
} */

@media (max-width: 768px) {
    .profile {
        display: none;
    }
}