.buttonContainer {
    display: flex;
    gap: 14px;
}

.settingsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-secondary);
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.settingsButton:hover {
    background: var(--background-tertiary);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background-primary);
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 140px;
    overflow: hidden scroll;
}

.popup::-webkit-scrollbar {
    width: 0;
}

.popup > ol {
    overflow: hidden;
    height: fit-content;
}

.popup .closeButton {
    position: fixed;
    top: 24px;
    right: 24px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--background-tertiary);
    color: var(--foreground-secondary);
    cursor: pointer;
}

.closeButton:hover {
    background: var(--background-4);
    color: var(--foreground-primary);
}

.blurContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(20px);
    z-index: 11;
}

.blurContainer > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
