.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-tertiary);
    border-radius: 50%;
    user-select: none;
}
