.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
    outline: 0px solid var(--accent-primary-1);
    background-color: var(--background-tertiary);
}

.container:focus-visible {
    outline: 2px solid var(--accent-primary-1);
}

.container > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
}
