.main > section {
    margin: 1rem;
}

.main > section > ol > li {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

.main td, .main th {
    border: 1px solid green;
    padding: 0.5rem;
}