.body {
    color: #fff;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: none !important;
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.Mneme {
    color: var(--accent1);
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    margin-left: 25px;
    z-index: 444;
}

.navigation {
    text-transform: capitalize;
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 1rem;
    display: none;
    list-style-type: none;
    cursor: pointer;
}

.loginBtn {
    border-radius: 50px;
    background: var(--accent1);
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: 0;
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 25px;
    transition: var(--transi);
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.llamaImg {
    width: 279px;
    height: auto;
    margin-top: 170px;
    margin-bottom: 52px;
}

.welcomeText {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 10px;
}

.subText {
    margin-top: 1rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.discoverBtn {
    border-radius: 50px;
    background: var(--accent1);
    color: 0;
    display: flex;
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: var(--transi);
}

.info {
    width: 100%;
}

.info .article {
    margin: 120px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .article:first-of-type {
    margin: 250px 35px 40px;
}

.info .article .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    text-wrap: balance;
    text-align: left;
}

.accent {
    color: var(--accent1);
}

.info .article p {
    font-size: 20px;
    margin-bottom: 24px;
}

.info .article img {
    margin: 0;
    width: clamp(250px, 50%, 400px);
}

.grid {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridTitle {
    font-size: 1.4rem;
    text-align: center;
    margin: 50px 10px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
    max-width: 385px;
}

.gridItem {
    background-color: var(--bg2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleSection {
    display: flex;
    gap: 16px;
    width: 100%;
}

.twoBlocs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.carousel {
    width: 100%;
    height: 280px;
}

.flashcards,
.group {
    font-size: 1.1rem;
    font-weight: 600;
    height: 100%;
}

.freePlan {
    display: flex;
    width: 50%;
    height: 296px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bg3);
}

.freePlan .title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0;
    margin: 0 auto;
}

.freePlan ul {
    margin: 16px 0;
    list-style-type: disc;
}
.freePlan li {
    margin-bottom: 5px;
    margin-left: 12px;
    gap: 0.3125rem;
    font-weight: 500;
}

.freePlan .morePlans {
    background: var(--accent1);
    color: var(--accent1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid var(--accent1);
    background: var(--bg3);
    width: 85%;
    height: 12%;
    font-weight: 800;
    cursor: pointer;
    transition: var(--transi);
    font-size: 0.925rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-evenly;
    gap: 0.9375rem;
}

.newsletter .newsTitle {
    font-size: 1rem;
    font-weight: 600;
    margin: 15px 0 0 0;
}

.newsletter .input {
    all: unset;
    background-color: var(--bg3);
    border-radius: 50px;
    padding: 10px;
}

.subscribeBtn {
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    background: var(--bg3);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transi);
    letter-spacing: 1.8px;
}

.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-self: center;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: #bfbfbf;
    width: 90%;
    border-top: 2px solid rgba(255, 255, 255, 0.28);
    padding: 10px 0;
    max-width: 1296px;
}

.links .title {
    color: var(--accent3);
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 16px;
}

.links ul {
    list-style-type: none;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.links li {
    margin-bottom: 0.625rem;
}

.at {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, 0.28);
    width: 90%;
    margin: 5px;
    padding: 32px 0;
    font-weight: 800;
    max-width: 1296px;
}

/* 


MEDIA QUERIES


*/

@media (min-width: 375px) {
    .info .article img {
        max-width: 350px;
    }

    .carousel {
        height: 320px;
    }

    .newsletter {
        height: 160px;
    }

    .newsletter .title {
        font-size: 1.2rem;
    }

    .newsletter .input {
        all: unset;
        background-color: var(--bg3);
        border-radius: 50px;
        width: 80%;
        padding: 10px;
    }

    .freePlan li {
        margin-left: 0;
    }

    .content ul li{
    font-size: 15px;
    }
}

@media (min-width: 428px) {
    .Mneme {
        font-size: 1.9rem;
    }

    .loginBtn {
        width: 120px;
        height: 40px;
    }

    .info .article .title {
        text-align: center;
    }

    .freePlan {
        height: 336px;
    }
    .freePlan .morePlans {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) {
    .navigation {
        gap: 1.2rem;
    }

    .welcomeText {
        font-size: 3rem;
    }

    .subText {
        font-size: 2rem;
    }

    .info .article {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .info .article:nth-child(1),
    .article:nth-child(3) {
        flex-direction: row-reverse;
    }

    .info .text {
        max-width: 375px;
    }

    .info .article img {
        max-width: 500px;
    }

    .navigation {
        display: flex;
    }
    .star,
    .inter {
        margin-top: 180px;
    }

    .grid .title {
        font-size: 2rem;
    }

    .freePlan li {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .Mneme {
        margin-left: 70px;
    }
    .navigation {
        font-size: 1.4rem;
        gap: 1.3rem;
    }

    .loginBtn {
        margin-right: 70px;
    }

    .info .article {
        gap: 4rem;
    }

    .gridContainer {
        flex-direction: row-reverse;
        max-width: 886px;
    }
    .carousel {
        width: 435px;
        height: 531px;
    }

    .freePlan {
        height: 335px;
    }

    .newsletter {
        width: 435px;
        height: 180px;
    }

    .newsletter .title {
        font-size: 1.4rem;
    }

    .links {
        display: flex;
        justify-content: space-between;
    }
    .at {
        padding: 32px 0;
    }
    .grid .title {
        font-size: 2.5rem;
    }

    .freePlan .title {
        font-size: 2rem;
    }

    .freePlan li {
        font-size: 1.2rem;
    }
}

@media (min-width: 1280px) {
}

/* ORBS */

.orb1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 441px;
    height: 418px;
    margin-left: -250px;
    margin-top: -180px;
    flex-shrink: 0;
    border-radius: 441px;
    background: var(--trans2, rgba(56, 189, 248, 0.15));
    filter: blur(77.55000305175781px);
    overflow: hidden;
    z-index: 420;
}

.orb2 {
    position: fixed;
    top: 85%;
    right: 0;
    width: 441px;
    height: 418px;
    margin-right: -250px;
    flex-shrink: 0;
    border-radius: 441px;
    background: var(--trans1);
    filter: blur(77.55000305175781px);
    overflow: hidden;
}

/* STARS */

.star {
    position: absolute;
    margin-top: 40px;
    transform: rotate(-45deg);
    transform: scale(0.9);
    overflow: hidden;
}

.star2 {
    position: absolute;
    margin-top: 40px;
    right: -30px;
    transform: scale(0.7);
    overflow: hidden;
    width: 250px;
}

/* INTERS */

.inter {
    position: absolute;
    margin-top: 40px;
    top: 0;
    right: -30px;
    transform: rotate(-45deg);
    transform: scale(0.7);
    overflow: hidden;
}

.inter2 {
    position: absolute;
    margin-top: 40px;
    margin-left: -58px;
    transform: rotate(25deg);
    transform: scale(0.7);
    overflow: hidden;
}

/* EFFECTS */

.hover:hover {
    transform: scale(1.1);
}
