.themeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.themeContainer > div {
    position: relative;
}

.themeContainer > div > button {
    width: 224px;
    height: 32px;
    padding: 0 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--foreground-2);
}

.themeContainer > div > button:hover,
.themeContainer > div > button:focus-visible,
.themeContainer > div > button.active {
    background-color: var(--background-2);
    color: var(--foreground-1);
}

.themeContainer > div > button > div {
    display: flex;
    gap: 8px;
}
