.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw !important;
  height: 100dvh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup > div {
  width: 480px;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  background-color: var(--background-tertiary);
  animation: popIn 0.2s ease-in-out;
}

.popup > div {
  padding: 24px;
}

.popup > div > div {
  padding: 0;
}

.popup > div > div > form > div {
  display: flex;
  flex-direction: column;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
