.container {
  background-color: var(--background-primary);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 28px 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--background-tertiary);
}

.container > div:first-child > h2 {
  font-size: 40px;
}

.container > div:first-child > div {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.container > div:first-child > div > a {
  width: 40px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.themeContainer > div > button {
  width: 224px;
  height: 28px;
  padding: 0 8px;
  border-radius: 8px;
  margin-top: 12px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.themeContainer > div > button:hover {
  background-color: var(--background-secondary);
}

.themeContainer > div > div {
  position: absolute;
  display: none;
}
