.header {
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 68%);
    padding: 40px;
}

.header h1 {
    font-size: 48px;
    margin-bottom: 24px;
    color: black;
}

.header menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    padding: 10px;
    background-color: hsl(0, 0%, 14%);
}

.header li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
}

.header li > a:hover {
    background-color: hsl(0, 0%, 22%);
}

.header li > a > span {
    font-size: 20px;
    margin-bottom: 8px;
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
}

.header li > a:hover > span {
    background-color: lightblue;
    color: hsl(0, 0%, 0%);
}

.header svg {
    width: 58px;
    height: 58px;
}

.header li > a:hover svg path {
    fill: lightblue;
}

@media screen and (max-width: 768px) {
    .header li > a > span {
        padding: 4px 8px;
        font-size: 14px;
    }

    .header svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 500px) {
    .header h1 {
        font-size: 32px;
    }

    .header li > a > span {
        padding: 2px 4px;
        font-size: 12px;
    }

    .header menu {
        padding: 6px;
    }

    .header li > a {
        padding: 6px;
    }

    .header svg {
        width: 16px;
        height: 16px;
    }
}
