.main {
    display: grid;
    margin: 100px 0;
    align-items: center;
    grid-template-columns: 200px 1fr 200px;
    height: calc(100vh - 80px - 100px - 100px);
    height: calc(100dvh - 80px - 100px - 100px);
}

.tabList {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.tabList > li {
    display: flex;
    margin: 24px 0;
    cursor: pointer;
    user-select: none;
    color: var(--fg-2);
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
}

.tabList > li:hover,
.tabList > li:focus-within {
    color: var(--fg-1);
}

.tabList > li > div:focus-visible {
    border: 1px solid var(--accent-50);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 3px var(--accent-20), 0 1px 1px 0 var(--accent-08);
}

.tabList > li.active {
    color: var(--fg-1);
    cursor: default;
}

.tabList > li > div {
    width: 62px;
    height: 62px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    background: var(--bg-2);
    justify-content: center;
    border: 1px solid transparent;
    transition: border 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}

.tabList > li > div > svg {
    width: 24px;
    height: 24px;
}

.tabList > li:hover > div,
.tabList > li:focus-visible > div,
.tabList > li.active > div {
    background: var(--bg-3);
}

.tabList > li > span {
    text-align: center;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.tabList > li.active {
    outline: solid 1px var(--accent);
    background-color: var(--bg-3);
    color: var(--accent);
}

.emptyButtons {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.content > p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 24px;
}

.tabHeader {
    gap: 24px;
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: var(--bg-2);
}

.tabHeader::-webkit-scrollbar {
    display: none;
}

.tabHeader > h1,
.tabHeader > h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.tabHeader.course > h3 {
    gap: 24px;
    flex-wrap: wrap;
}

.tabHeader > h1 > img,
.tabHeader > h3 > img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.tabHeader > h1 > span,
.tabHeader > h3 > span {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 8px;
    align-items: center;
    white-space: nowrap;
    border-radius: 1000px;
    justify-content: center;
    color: var(--accent-fg);
    font-family: var(--font-body);
    background-color: var(--accent);
}

.tabHeader > h1 > :first-child {
    margin-right: 16px;
}

.tabHeader > h1 > :last-child {
    margin-left: 16px;
}

.courseHead {
    margin-bottom: 20px;
}
.courseHead h1 {
    font-size: 40px;
}

.browseLink {
    width: 36px;
    height: 36px;
    display: flex;
    cursor: pointer;
    color: var(--fg-2);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: var(--radius-medium);
}

.browseLink:hover,
.browseLink:focus-visible {
    background-color: var(--bg-3);
    color: var(--fg-1);
}

.browseLink > svg {
    width: 24px;
    height: 24px;
}

.summaries {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.summaries > div {
    padding: 6px;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    border-radius: 1000px;
    justify-content: center;
    color: var(--accent-fg);
    background-color: var(--accent);
}

.summaries > div > * {
    margin: 0 4px;
}

.content > main > header {
    display: none;
}

.content > main {
    background-color: var(--bg-2);
    border-radius: 8px;
    padding: 24px;
    flex: 1;
    min-height: 370px;
    height: auto;
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.empty > p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: center;
}

.content > main > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content > main > div.column {
    flex-direction: column;
}

.actionButtons {
    gap: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: center;
}

.dashButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px 12px 16px;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--fg-1);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.dashButton > * {
    margin: 6px;
}

.dashButton:hover {
    background-color: var(--accent-hover);
}

.dashButton:active {
    background-color: var(--accent-active);
}

.card {
    background-color: var(--bg-3);
    color: var(--fg-2);
    border-radius: 10px;
    padding: 24px;
    outline: 1px solid var(--bg-4);
    transition: all 0.1s ease-in-out;
    height: fit-content;
    word-break: break-word;
}

.card:hover {
    background-color: var(--bg-4);
    outline: 0px solid var(--bg-4);
}

.card > h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    color: var(--fg-1);
}

.card > p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 16px;
    margin: 0;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input > label {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
}

.input > div {
    display: flex;
    align-items: center;
    border-radius: var(--radius-full);
    background-color: var(--bg-3);
    border: 1px solid var(--bg-4);
    min-width: minmax(350px, 1fr);
    transition: border 0.15s ease, box-shadow 0.15s ease;
}

.input > div:focus-within {
    border: 1px solid var(--accent-50);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 3px var(--accent-20), 0 1px 1px 0 var(--accent-08);
}

.input > div > input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: none;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 16px;
    color: var(--fg-1);
    background-color: transparent;
}

.input > div > input::placeholder {
    font-weight: 400;
    user-select: none;
    color: var(--fg-3);
}

.input > div > button {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    padding: 8px 14px;
    margin-right: 4px;
    align-items: center;
    justify-content: center;
    color: var(--accent-fg);
    transition: filter 0.15s ease;
    font-family: var(--font-body);
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: var(--radius-full);
}

.input > div > button:hover,
.input > div > button:focus-visible {
    filter: brightness(1.15);
}

.input > div > button:focus-visible {
    border: 1px solid var(--accent-50);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 3px var(--accent-20), 0 1px 1px 0 var(--accent-08);
}

.input > div > button:active {
    filter: brightness(1.3);
}

.userContent {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.userContent > div {
    max-width: 100%;
    width: 100%;
}

.userContent > div:not(:last-child) {
    margin-bottom: 40px;
}

.userContent > div > h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.gridList {
    padding: 2px;
    margin: -2px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    margin-bottom: -24px;
}

.gridList > * {
    margin: 0 24px 24px 0;
}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 1000px;
    color: var(--accent-fg);
    background-color: var(--accent);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    margin-left: 8px;
    user-select: none;
    font-family: var(--font-body);
    aspect-ratio: 1;
}

.associate {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--bg-3);
    max-width: 360px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.associate:hover,
.associate:focus-visible {
    transform: translate(2px, -2px);
    box-shadow: -3px 3px 0px var(--bg-4);
}

.associate > div {
    height: 100%;
}

.associate > div > h3 {
    margin-bottom: 8px;
    color: var(--fg-1);
}

.associate > div > p {
    color: var(--fg-3);
}

.associate > button {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-1);
    border: 0px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.associate > button:hover,
.associate > button:focus-visible {
    color: var(--accent);
}

/* @media (max-height: 950px) {
    .main {
        margin: 50px 0 100px 0;
        height: calc(100vh - 80px - 100px - 50px);
        height: calc(100dvh - 80px - 100px - 50px);
    }
}

@media (max-height: 720px) {
    .main {
        margin: 24px 0;
        height: calc(100vh - 80px - 100px - 24px);
        height: calc(100dvh - 80px - 100px - 24px);
    }
} */

@media screen and (max-width: 1500px) {
    .main {
        grid-template-columns: 125px 1fr 125px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin: 50px 0 100px 0;
        grid-template-columns: var(--gutter-x) 1fr var(--gutter-x);
    }

    .main > section > nav {
        position: fixed;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 var(--gutter-x);
        height: fit-content;
        overflow: hidden;
        max-width: 100%;
    }

    .tabList {
        padding: 10px 10px;
        background-color: var(--bg-2);
        border-radius: 1000px;
        border: solid 1px var(--bg-4);
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        width: 390px;
        max-width: 100%;
    }

    .tabList > li {
        margin: 0;
        height: 60px;
        width: 60px;
    }

    .tabList > li:last-child {
        margin-right: 0;
    }

    .tabList > li > div.active,
    .tabList > li > div {
        height: 60px;
        width: 60px;
        color: var(--fg-3);
        background-color: transparent;
    }

    .tabList > li > span {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .main {
        margin: 24px 0;
        height: calc(100vh - 80px - 100px - 24px);
        height: calc(100dvh - 80px - 100px - 24px);
    }

    .main > section > nav {
        bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .content > main {
        padding: 16px 0 16px 16px;
    }

    .content > header {
        display: none;
    }

    .content > main > header {
        display: flex;
        flex-wrap: wrap;
    }

    .content > main > header > .summaries {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .content > main > .summaries > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px;
        padding: 6px 12px;
        border-radius: 100vw;
        background-color: var(--accent);
        color: var(--fg-1);
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
    }

    .empty {
        padding: 0;
    }
}
