.main {
    width: 95%;
    margin: auto;
}

.main ol {
    margin-top: 20px;
    margin-left: 20px;
    list-style-type: disc;
}

.main ol > li {
    margin: 0.5rem;
}

.main h3 {
    font-weight: normal;
}

.inputs > * {
    margin: 20px 0;
}

/* .selections {
    /* display: flex; */
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.selections h3 {
    margin-bottom: 20px;
    text-align: center;
}

.selections > p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.selections table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.selections thead th {
    width: 100%;
    text-align: center;
}

.selections table td {
    white-space: pre-wrap;
}

.selections > button {
    margin-top: 30px;
}

.selections td {
    word-break: break-word;
}
