.main {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.main > section {
    max-width: 1800px;
    padding: var(--padding);
    margin: 0 auto;
    position: relative;
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

@media screen and (max-width: 2100px) {
    .main > section {
        max-width: calc(100vw - 280px);
    }
}

.tabList {
    position: absolute;
    top: 50%;
    left: -105px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.tabList > li {
    display: flex;
    flex-direction: column;
    color: var(--foreground-tertiary);
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    user-select: none;
}

.tabList > li:hover {
    color: var(--foreground-secondary);
}

.tabList > li.active {
    color: var(--foreground-primary);
    cursor: default;
}

.tabList > li > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background: var(--background-secondary);
    border-radius: 50%;
}

.tabList > li:hover > div,
.tabList > li.active > div {
    background: var(--background-tertiary);
}

.tabList > li > span {
    text-align: center;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    width: 100%;
}

.content > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
    border-radius: 10px;
    padding: 16px 24px;
    background-color: var(--background-secondary);
}

.content > header > h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.content > header > h1 > img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.content > header > h1 > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-tertiary-1);
    border-radius: 100vw;
    font-size: 15px;
    height: 32px;
    padding: 6px 12px;
}

.content > header > .chips {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content > header > .chips > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 100vw;
    background-color: var(--accent-tertiary-1);
    color: var(--foreground-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
}

/* .content > header > h1 > span:last-child {
} */

.content > main {
    background-color: var(--background-secondary);
    border-radius: 10px;
    padding: 24px 4px 24px 24px;
    overflow: hidden scroll;
    flex: 1;
}

.content > main::-webkit-scrollbar {
    width: 20px;
}

.content > main::-webkit-scrollbar-track {
    border-radius: 1000px;
    border: 6px var(--background-secondary) solid;
    background-color: var(--background-tertiary);
    background-clip: padding-box;
}

.content > main::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    border: 6px var(--background-tertiary) solid;
    border-color: transparent;
    background-color: var(--background-primary);
    background-clip: padding-box;
}

.content > main > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 24px;
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.empty > p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.content > main > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 24px;
}

.content > main > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 24px 12px 16px;
    border-radius: 10px;
    background-color: var(--accent-tertiary-1);
    color: var(--foreground-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.content > main > div > button:hover {
    background-color: var(--accent-tertiary-2);
}

.content > main > div > button:active {
    background-color: var(--accent-tertiary-3);
}

.card {
    background-color: var(--background-tertiary);
    border-radius: 10px;
    padding: 24px;
    outline: 1px solid var(--background-4);
    transition: all 0.1s ease-in-out;
    height: fit-content;
}

.card:hover {
    background-color: var(--background-4);
    outline: 0px solid var(--background-4);
}

.card > h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
}

.card > p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 16px;
    margin: 0;
}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.input > div {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-4);
    min-width: 350px;
}

.input > div:focus-within {
    outline: 2px solid var(--accent-tertiary-1);
}

.input > div > input {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    color: var(--foreground-primary);
    width: 100%;
    padding: 12px 16px;
}

.input > div > input::placeholder {
    color: var(--foreground-tertiary);
}

.input > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--accent-tertiary-1);
    color: var(--foreground-primary);
    font-size: 13px;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.input > div > button:hover,
.input > div > button:focus-visible {
    background-color: var(--accent-tertiary-2);
}

.input > div > button:active {
    background-color: var(--accent-tertiary-3);
}
