.container {
    gap: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.options {
    height: 38px;
    display: flex;
    align-items: center;
}

.options > div {
    width: 38px;
    height: 100%;
}

.options > div > div:first-child {
    width: 38px;
    height: 100%;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    user-select: none;
    align-items: center;
    justify-content: center;
    background: var(--surface-0);
    border: 1px solid var(--surface-border);
}

.options > div:first-child > div:first-child {
    border-radius: var(--radius-large) 0 0 var(--radius-large);
    border-right: none;
}

.options > div:first-child > div:first-child[aria-expanded="true"] {
    border-radius: var(--radius-large) 0 0 0;
    border-bottom-color: transparent;
}

.options > div:last-child > div:first-child {
    border-radius: 0 var(--radius-large) var(--radius-large) 0;
    border-left-color: transparent;
}

.options > div:last-child > div:first-child[aria-expanded="true"] {
    border-radius: 0 var(--radius-large) 0 0;
}

.options > div > div:first-child:hover,
.options > div > div:first-child:focus-within {
    background: var(--surface-hover);
}

.options > hr {
    width: 0;
    height: 100%;
    background-color: var(--surface-border);
    border: 1px solid var(--surface-border);
    border-right: none;
}

.search {
    position: relative;
    height: fit-content;
    margin-bottom: 24px;
}

.search > div > div {
    width: 200px;
    height: 38px;
    padding: 0 38px 0 2px;
    border-radius: var(--radius-large);
}

.search > button {
    top: 50%;
    right: 4px;
    cursor: pointer;
    padding: 6px 12px;
    position: absolute;
    color: var(--accent-fg);
    transform: translateY(-50%);
    background: var(--accent);
    border-radius: var(--radius-medium);
}

.search > button:hover,
.search > button:focus-visible {
    filter: brightness(1.08);
}
