.main {
    padding: var(--padding);
}

.main > div {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 40px;
    column-gap: 40px;
}

.ballot {
    flex: 1;
    margin-bottom: 140px;
}

.ballot:last-child {
    margin-bottom: 0;
}

.ballot > h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
}

.ballot > ol > li {
    border: 1px solid var(--border-color);
    background-color: var(--background-2);
    padding: 24px;
    border-radius: 8px;
    white-space: pre-wrap;
    margin-bottom: 60px;
}

.ballot > ol > li:last-child {
    margin-bottom: 0;
}

.progress > div {
    position: sticky;
    top: 40px;
    text-align: right;
    user-select: none;
}

.svg {
    transform: rotate(-90deg);
}

.svg > circle {
    transition: stroke-dashoffset 0.35s;
}

.categories {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    padding-left: 16px;
}

.categories a {
    font-size: 14px;
    font-weight: 400;
    color: var(--foreground-3);
    line-height: 1.8;
}

.categories a > span {
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    background-color: var(--background-3);
    border-radius: 4px;
    line-height: 14px;
    font-size: 12px;
}

.categories a:hover {
    color: var(--foreground-1);
    text-decoration: underline;
}

.returnTop {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
    border-radius: 50%;
    padding: 16px;
    border: none;
    display: flex;
    cursor: pointer;
    color: var(--foreground-3);
    background-color: var(--background-4);
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out,
        transform 0.15s ease-in-out;
}

.returnTop:hover,
.returnTop:focus-visible {
    color: var(--foreground-2);
    background-color: var(--background-3);
}

.returnTop:active {
    color: var(--foreground-1);
    transform: scale(0.95);
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1100px) {
    .main > div {
        grid-template-columns: 2fr 1fr;
    }

    .progress {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .main > div {
        display: block;
    }
}
