.container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 16px;
    background-color: var(--background-tertiary);
    border-radius: 4px;
    box-shadow: var(--boxshadow-dark);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 16px;
    animation: slideIn 0.3s cubic-bezier(0.2, 0.65, 0.6, 1) both;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(-100px);
    }
    to {
        transform: translateX(-50%) translateY(0px);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-50%) translateY(0px);
    }
    to {
        transform: translateX(-50%) translateY(-100px);
    }
}
