.list {
    top: 0;
    left: 0;
    gap: 16px;
    padding: 16px;
    display: flex;
    position: fixed;
    z-index: 100000;
    flex-direction: column;
}

.alert {
    gap: 10px;
    display: flex;
    font-weight: 700;
    line-height: 24px;
    color: var(--fg-2);
    width: fit-content;
    align-items: center;
    padding: 10px 24px 10px 10px;
    background-color: var(--bg-3);
    transition: all 0.3s ease-in-out;
    border-radius: var(--radius-full);
    box-shadow: var(--boxshadow-dark);
    animation: popIn 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.alert.success {
    color: var(--success-fg);
    background-color: var(--success);
}

.alert.danger {
    color: var(--danger-fg);
    background-color: var(--danger);
}

.alert.warning {
    color: var(--warning-fg);
    background-color: var(--warning);
}

.icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}
