.formContainer > h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.inputContainer {
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.passwordTooltip {
    position: absolute;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--background-secondary);
    left: 50%;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    animation: popIn 0.15s ease-in-out;
}

.passwordTooltip::before {
    content: '';
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--background-secondary);
}

.passwordTooltip > p {
    font-size: 14px;
    margin-bottom: 14px;
}

.passwordTooltip > ul {
    list-style: none;
}

.passwordTooltip > ul > li {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.passwordTooltip > ul > li::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: var(--accent-primary-1);
}

.passwordTooltip > ul > li.weakness > span {
    text-decoration: line-through;
    opacity: 0.3;
    font-weight: 200;
}

.passwordTooltip > ul > li.weakness > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordTooltip > ul > li.weakness > div > svg {
    width: 8px;
    height: 8px;
    margin-left: -2px;
    margin-right: 5px;
}

.passwordTooltip > ul > li.weakness > div path {
    fill: var(--accent-tertiary-1);
}

.passwordTooltip > ul > li.weakness::before {
    display: none;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}
