.expectations {
    position: absolute;
    width: 250px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--bg-3);
    left: calc(100% + 32px);
    top: calc(50% + 10px);
    transform: translateY(-50%);
    animation: popIn 0.15s ease-in-out;
}

.expectations::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--bg-3);
}

.expectations > p {
    font-size: 14px;
    margin-bottom: 14px;
}

.expectations > ul > li {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.expectations > ul > li::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: var(--accent-2);
    color: var(--accent-foreground);
}

.expectations > ul > li.valid > span {
    text-decoration: line-through;
    opacity: 0.3;
    font-weight: 200;
}

.expectations > ul > li.valid > svg {
    color: var(--success);
    width: 8px;
    height: 8px;
    margin-left: -2px;
    margin-right: 5px;
}

.expectations > ul > li.valid::before {
    display: none;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}
