.container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 6px 16px 6px 6px;
    height: 48px;
    margin-top: 6px;
    color: var(--foreground-secondary);
    background-color: var(--background-secondary);
}

.container:hover {
    color: var(--foreground-primary);
    background-color: var(--background-tertiary);
}

.container:hover > div:first-child {
    background-color: var(--background-secondary);
}

.container > p {
    flex: 1;
    margin-left: 12px;
}

.container > svg {
    display: flex;
    width: 18px;
    height: 18px;
}
