.form {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form > button {
    align-self: self-end;
}

.buttons {
    gap: 16px;
    display: flex;
}

.buttons.right {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }
}
