.container {
    position: relative;
}

.label {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    color: var(--fg-2);
    margin-bottom: 6px;
    letter-spacing: 0.35px;
}

.label > span {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 4px;
    font-style: italic;
    font-weight: 400;
}

.label > .required,
.label > .error {
    color: var(--danger);
}

.wrapper {
    position: relative;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    background-color: var(--bg-3);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-medium);
    max-height: 450px;
    overflow: hidden auto;
    transition:
        border 0.1s ease,
        box-shadow 0.1s ease;
}

.wrapper.select {
    cursor: pointer;
}

.wrapper.textarea {
    padding: 0;
    min-height: 160px;
    height: fit-content;
}

.wrapper.multiple {
    gap: 8px;
    height: unset;
    padding: 8px 10px;
    min-height: 42px;
}

.wrapper.select.multiple {
    padding-right: calc(10px + 32px + 4px);
}

.wrapper:focus-within,
.wrapper.active {
    --bs-1: var(--accent-1-20);
    --bs-2: var(--accent-1-08);
    border: 1px solid var(--accent-1-50);
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.03),
        0 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 3px var(--bs-1),
        0 1px 1px 0 var(--bs-2);
}

.input {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-medium);
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--fg-3);
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding: 0 10px;
    box-shadow: none !important;
    border: none !important;
}

.input.textarea {
    display: block;
    min-height: 160px;
    padding: 10px 0 10px 10px;
    resize: vertical;
    align-self: stretch;
    font-family: var(--font-body);
}

.wrapper.multiple .input,
.wrapper.multiple .selected {
    flex: 1;
    border-radius: 0;
    min-width: 100px;
    height: 23px;
}

.wrapper.multiple .input {
    padding: 0;
}

.input::placeholder {
    font-weight: 400;
}

.chip {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 8px;
    background-color: var(--bg-2);
    border-radius: var(--radius-medium);
    font-size: 12px;
    color: var(--fg-3);
    cursor: pointer;
    height: fit-content;
}

.chip:hover {
    color: var(--fg-1);
    background-color: var(--bg-4);
}

.chip > svg {
    margin-left: 4px;
}

.selected {
    flex-grow: 1;
    display: flex;
    color: #757e8d;
    user-select: none;
    align-items: center;
}

.selected.isValue {
    padding: 0 10px;
    color: var(--fg-3);
}

.selectButton {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    outline: none;
    cursor: pointer;
    color: var(--fg-3);
    align-items: center;
    justify-content: center;
    background-color: var(--bg-3);
    border: 1px solid transparent;
    border-radius: var(--radius-small);
    transition:
        background-color 0.1s ease,
        color 0.1s ease,
        border 0.1s ease;
}

.selectButton:hover,
.selectButton:focus {
    color: var(--fg-2);
    background-color: var(--bg-4);
}

.wrapper.active .selectButton {
    color: var(--accent-1);
    background-color: var(--bg-4);
}

.options {
    gap: 4px;
    padding: 4px;
    z-index: 100;
    display: flex;
    max-height: 400px;
    overflow: hidden auto;
    flex-direction: column;
    background-color: var(--bg-2);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-medium);
}

.option {
    padding: 8px;
    border: none;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    user-select: none;
    color: var(--fg-3);
    align-items: center;
    font-family: var(--font-body);
    background-color: transparent;
    justify-content: space-between;
    border-radius: var(--radius-small);
}

.option.empty {
    cursor: default;
}

.option.active {
    color: var(--fg-2);
    background-color: var(--bg-3);
}

.option:focus,
.option:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
}

.checkbox {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border: 1px outset transparent;
    border-radius: var(--radius-medium);
}

.checkbox:focus-visible {
    outline: none;
    border: 1px solid var(--accent-1-50);
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.03),
        0 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 3px var(--accent-1-20),
        0 1px 1px 0 var(--accent-1-08);
}

.checkbox > span {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: var(--fg-2);
    font-size: 16px;
    font-weight: 400;
}

.checkbox > input {
    display: none;
}

.checker {
    width: 40px;
    height: 24px;
    cursor: pointer;
    position: relative;
    background-color: var(--bg-4);
    border-radius: var(--radius-full);
}

.checker.checked {
    background-color: #23a55a;
}

.checker > div {
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    color: var(--bg-4);
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--fg-1);
    transform: translate(-50%, -50%);
    border-radius: var(--radius-full);
    transition: left 0.1s ease;
}

.checker.checked > div {
    color: #23a55a;
    left: calc(100% - 12px);
}

.description {
    font-size: 13px;
    color: var(--fg-4);
    font-weight: 500;
    margin-top: 8px;
}

/* Skeletons */

.label.skeleton {
    width: 30%;
    height: 17px;
    border-radius: var(--radius-medium);
}

.input.skeleton {
    height: 42px;
}

.skeleton {
    pointer-events: none;
    background: linear-gradient(
        to right,
        var(--bg-2) 0%,
        var(--bg-3) 50%,
        var(--bg-2) 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
