.container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.container.inline {
    display: inline-flex;
    width: fit-content;
    margin: 0 5px;
}

.container.inline:first-child {
    margin-left: 0;
}

.inlineContainer {
    display: flex;
}

.inputContainer {
    position: relative;
    border-radius: 4px;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.inputContainer > input,
.inputContainer > select,
.inputContainer > textarea {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    color: var(--foreground-primary);
    outline-color: var(--accent-primary-outline);
    transition: outline 0.1s ease-in-out;
}

.inline .inputContainer > input,
.inline .inputContainer > select,
.inline .inputContainer > textarea {
    padding: 0 5px;
    height: 24px;
    max-width: 70px;
    outline-width: 3px;
}

.inputContainer > textarea {
    height: 80px;
    min-height: 40px;
    max-height: 550px;
    resize: vertical;
    font-family: "Inter", sans-serif;
}

.inputContainer > select {
    border-right: 10px solid transparent;
}

.inputContainer > select > option {
    background-color: var(--background-secondary);
    color: var(--foreground-primary);
    font-size: 16px;
}

.container > div > .actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin: 5px 5px 0 0;
    cursor: pointer;
    color: var(--accent-foreground);
    background-color: var(--accent-primary-1);
}

.container > div > .actionButton:hover {
    background-color: var(--accent-primary-2);
}

.container > div > .actionButton:active {
    background-color: var(--accent-primary-3);
}

.labelContainer {
    margin-bottom: 8px;
}

.labelContainer > label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    user-select: none;
}

.labelContainer > label > span {
    color: var(--accent-secondary-1);
}

.labelContainer > span {
    color: var(--accent-secondary-1);
    font-size: 14px;
    margin-left: 4px;
    font-style: italic;
    user-select: none;
}

[data-theme="light"] .inputContainer {
    border: 1px solid var(--foreground-tertiary);
}

.checkbox {
    opacity: 1;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 24px;
}

.checkbox > svg {
    display: block;
    position: absolute;
    width: 28px;
    height: 18px;
    margin: 3px;
    transition: left 0.2s ease-in-out;
}

.checkbox > input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 14px;
    cursor: pointer;
}

.count {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-top: 4px;
    user-select: none;
}
