.picker {
    position: absolute;
    left: 1rem;
    width: 220px;
    border-radius: 4px;
    z-index: 1;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow: hidden auto;
    background-color: var(--bg-2);
    border: 1px solid var(--bg-3);
    box-shadow: var(--boxshadow-dark);
}

.picker::-webkit-scrollbar-thumb {
    border-color: var(--bg-2);
}

.item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    justify-content: space-between;
    color: var(--fg-1);
    cursor: pointer;
}

.item:hover {
    background-color: var(--bg-3);
}

.item:active {
    opacity: 0.8;
}

.item:focus-visible {
    outline: none;
    background-color: var(--bg-3);
}

.item.disabled {
    cursor: default;
    opacity: 0.5;
}

.item > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item > .checkbox {
    min-width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg-1);
    background-color: var(--bg-3);
}

.item:hover > .checkbox,
.item:focus-visible > .checkbox {
    background-color: var(--bg-2);
}

.item > .checkbox > svg {
    width: 12px;
    height: 12px;
}

[data-theme="light"] .picker {
    background-color: var(--bg-1);
    border: 1px solid var(--fg-3);
}

[data-theme="light"] .checkbox {
    border: 1px solid var(--fg-3);
}
