.picker {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0;
  width: 220px;
  border-radius: 4px;
  z-index: 1;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: hidden auto;
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  box-shadow: var(--boxshadow-dark);
}

.picker > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  justify-content: space-between;
  color: var(--foreground-primary);
  cursor: pointer;
}

.picker > div:hover {
  background-color: var(--background-tertiary);
}

.picker > div:active {
  opacity: 0.8;
}

.picker > div > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picker > div > .checkbox {
  min-width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-tertiary);
  color: var(--foreground-primary);
}

.picker > div:hover > .checkbox {
  background-color: var(--background-secondary);
}

.picker > div > .checkbox > svg {
  width: 12px;
  height: 12px;
}

[data-theme="light"] .picker {
  background-color: var(--background-primary);
  border: 1px solid var(--foreground-tertiary);
}
