.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw !important;
    min-height: 100dvh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 0%, 0.9);
    animation: fadeIn 0.225s ease-in-out;
    transition: background-color 0.225s ease-in-out;
}

.popup > div {
    max-height: calc(100dvh - 128px);
    width: 480px;
    padding: 24px;
    border-radius: 5px;
    position: relative;
    background-color: var(--background-tertiary);
    animation: popIn 0.225s ease-in-out;
    overflow: hidden auto;
}

.popup > div::-webkit-scrollbar {
    width: 0px;
}

.popup > div > div:first-child {
    display: flex;
    justify-content: space-between;
}

.popup > div > div > h4 {
    font-size: 24px;
    margin-bottom: 24px;
}

.closeButton {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 2px;
    border: none;
    color: var(--foreground-tertiary);
    background-color: transparent;
}

.closeButton:hover {
    color: var(--foreground-primary);
}

.popup > div > div,
.popup > div > form {
    grid-template-columns: 1fr;
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes fadeIn {
    from {
        background-color: hsl(0, 0%, 0%, 0);
    }
    to {
        background-color: hsl(0, 0%, 0%, 0.9);
    }
}

@keyframes fadeOut {
    from {
        background-color: hsl(0, 0%, 0%, 0.9);
    }
    to {
        background-color: hsl(0, 0%, 0%, 0);
    }
}

@media screen and (max-width: 550px) {
    .popup > div {
        max-height: 100dvh;
        width: 100dvw;
        height: 100dvh;
        border-radius: 0;
    }

    .closeButton {
        display: flex;
    }
}
