@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
    --max-width: 1200px;
    --padding: 80px 40px;
    --radius-1: 10px;

    --font-heading: "Sofia Sans", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-mono: Menlo, Monaco, "Segoe UI Mono", "Roboto Mono", monospace;

    --background-1: #f8fafc;
    --background-2: #f1f5f9;
    --background-3: #e2e8f0;
    --background-4: #cbd5e1;

    --foreground-1: #020617;
    --foreground-2: #0f172a;
    --foreground-3: #1e293b;

    --accent-1: #10b981;
    --accent-1-hover: #059669;
    --accent-1-active: #047857;
    --accent-1-light: #4ade80;
    --accent-1-transparent: #10b98133;

    --accent-2: #38bdf8;
    --accent-2-hover: #0ea5e9;
    --accent-2-active: #0284c7;
    --accent-2-light: #7dd3fc;
    --accent-2-transparent: #38bdf833;

    --accent-3: #8b5cf6;
    --accent-3-hover: #7c3aed;
    --accent-3-active: #6d28d9;
    --accent-3-light: #a78bfa;
    --accent-3-transparent: #8b5cf620;

    --success: #4ade80;
    --success-hover: #22c55e;
    --success-active: #16a34a;
    --success-light: #86efac;
    --success-transparent: #4ade8033;

    --error: #e11d48;
    --error-hover: #be123c;
    --error-active: #9f1239;
    --error-light: #fb7185;
    --error-transparent: #e11d4833;

    --accent-foreground: #020617;
    --anchor-foreground: #3182ce;
    --border-color: hsl(227, 15%, 18%);

    --boxshadow-light: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    --boxshadow-medium: 0 0 8px 0 hsla(0, 0%, 0%, 0.2);
    --boxshadow-dark: 0 0 16px 0 hsla(0, 0%, 0%, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-1: #020617;
        --background-2: #0f172a;
        --background-3: #1e293b;
        --background-4: #334155;

        --foreground-1: #f8fafc;
        --foreground-2: #e2e8f0;
        --foreground-3: #cbd5e1;
    }

    html {
        color-scheme: dark;
    }
}

[data-theme="light"] {
    --background-1: #f8fafc;
    --background-2: #f1f5f9;
    --background-3: #e2e8f0;
    --background-4: #cbd5e1;

    --foreground-1: #020617;
    --foreground-2: #0f172a;
    --foreground-3: #1e293b;

    html {
        color-scheme: light;
    }
}

[data-theme="dark"] {
    --background-1: #020617;
    --background-2: #0f172a;
    --background-3: #1e293b;
    --background-4: #334155;

    --foreground-1: #f8fafc;
    --foreground-2: #e2e8f0;
    --foreground-3: #cbd5e1;

    html {
        color-scheme: dark;
    }
}

*::-webkit-scrollbar {
    display: none;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: 100dvh;
    font-size: 16px;
    font-family: var(--font-body);
    scroll-behavior: smooth;
    color: var(--foreground-1);
    background-color: var(--background-1);
}

body {
    display: flex;
    flex-direction: column;
    --scrollbar-width: calc(100vw - 100%);
    --scrollbar-width: calc(100dvw - 100%);
    padding-left: var(--scrollbar-width);
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    font-weight: 500;
    text-decoration: none;
    color: var(--anchor-foreground);
}

.link:hover {
    text-decoration: underline;
}

.scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 1000px;
    border: 6px var(--background-2) solid;
    background-color: var(--background-3);
    background-clip: padding-box;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    border: 6px var(--background-3) solid;
    border-color: transparent;
    background-color: var(--background-1);
    background-clip: padding-box;
}

.button {
    height: 32px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    color: var(--accent-foreground);
    background-color: var(--accent-1);
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out,
        box-shadow 0.1s ease-in-out;
}

.button:not(.submit) {
    width: fit-content;
}

.button:hover:not(:disabled) {
    background-color: var(--accent-1-hover);
}

.button:active:not(:disabled) {
    background-color: var(--accent-1-active);
}

.button.submit {
    height: 44px;
    font-size: 16px;
    line-height: 24px;
}

.button.green {
    background-color: var(--success);
    color: var(--accent-foreground);
}

.button.green:hover:not(:disabled) {
    background-color: var(--success-hover);
}

.button.green:active:not(:disabled) {
    background-color: var(--success-active);
}

.button.red {
    background-color: var(--error);
    color: var(--accent-foreground);
}

.button.red:hover:not(:disabled) {
    background-color: var(--error-hover);
}

.button.red:active:not(:disabled) {
    background-color: var(--error-active);
}

.button.transparent {
    background-color: transparent;
    color: var(--foreground-1);
}

ul,
ol {
    list-style: none;
}

*:focus-visible {
    outline: 2px solid var(--accent-1);
}

::-webkit-calendar-picker-indicator:focus-visible {
    border-radius: 2px;
    outline: 4px solid var(--accent-1);
    outline-offset: 3px;
}

input {
    font-family: sans-serif;
}

input[type="date"] {
    cursor: pointer;
}

:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.thinScroller::-webkit-scrollbar {
    width: 10px;
}

.thinScroller::-webkit-scrollbar-track {
    background: transparent;
}

.thinScroller::-webkit-scrollbar-thumb {
    background: var(--accent-1);
    border: 3px solid var(--background-1);
    border-radius: 100vw;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.formGrid > *:last-child {
    align-self: flex-end;
}

.chipList {
    display: flex;
    flex-wrap: wrap;
}

.chipList > li {
    max-width: 100%;
}

.buttonContainer {
    display: flex;
    gap: 16px;
}

.paragraph.center {
    text-align: center;
}

.paragraph > h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

.paragraph > p,
.paragraph > ol > li,
.paragraph > ul > li {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 24px;
    color: var(--foreground-2);
}

.paragraph > ul {
    margin-left: 2rem;
    list-style-type: disc;
}

.paragraph > ol {
    margin-left: 2rem;
    list-style-type: numeral;
}

.paragraph a {
    font-weight: 400;
}

.paragraph a:hover {
    text-decoration: underline;
}

h4 {
    margin-bottom: 12px;
}

.listGrid {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 24px;
}

.listGrid > li {
    width: fit-content;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

svg:not(.base),
path:not(.base) {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg.fill,
path.fill {
    fill: currentColor;
}

svg.noStroke,
path.noStroke {
    stroke: none;
}

svg.stroke0,
path.stroke0 {
    stroke-width: 0;
}

@media screen and (max-width: 1024px) {
    :root {
        --padding: 100px 40px;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --padding: 60px 24px;
    }

    .formGrid {
        max-width: 550px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {
    :root {
        --padding: 60px 20px;
    }
}

@media (max-width: 320px) {
    :root {
        --padding: 20px 10px;
    }
}
