:root {
    --max-width: 1100px;
    --padding: 120px 40px;
    --gutter-x: 40px;
    --gutter-y: 150px;
    --gutter: var(--gutter-y) var(--gutter-x);

    --font-mono: Menlo, Monaco, "Segoe UI Mono", "Roboto Mono", monospace;

    --bg-0: #ffffff;
    --bg-1: #eff1f5;
    --bg-2: #e6e9ef;
    --bg-3: #dce0e8;
    --bg-4: #ccd0da;

    --fg-1: #020617;
    --fg-2: #0f172a;
    --fg-3: #1e293b;
    --fg-4: #334155;

    --accent: #10b981;
    --accent-50: #10b98159;
    --accent-20: #10b98123;
    --accent-08: #10b9810e;
    --accent-fg: #000000;

    --success: #4ade80;
    --success-50: #4ade800d;
    --success-20: #4ade8033;
    --success-08: #4ade8014;
    --success-fg: #000000;

    --warning: #f59e0b;
    --warning-50: #f59e0b7c;
    --warning-20: #f59e0b33;
    --warning-08: #f59e0b14;
    --warning-fg: #000000;

    --danger: #e11d48;
    --danger-50: #e11d477c;
    --danger-20: #e11d4833;
    --danger-08: #e11d4814;
    --danger-fg: #ffffff;

    --border-color: hsl(227, 19%, 81%);

    --radius-small: 2px;
    --radius-medium: 4px;
    --radius-large: 8px;
    --radius-xlarge: 16px;
    --radius-full: 1000px;

    --boxshadow-light: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    --boxshadow-medium: 0 0 8px 0 hsla(0, 0%, 0%, 0.2);
    --boxshadow-dark: 0 0 16px 0 hsla(0, 0%, 0%, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-0: #000511;
        --bg-1: #020617;
        --bg-2: #0f172a;
        --bg-3: #1e293b;
        --bg-4: #334155;

        --fg-1: #f8fafc;
        --fg-2: #e2e8f0;
        --fg-3: #cbd5e1;
        --fg-4: #989fa8;

        --border-color: #313547;
    }
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
    outline: none;
    box-shadow:
        0 0 0 1px var(--accent),
        0 1px 1px rgba(0, 0, 0, 0.03),
        0 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 3px var(--accent-20),
        0 1px 2px 0 var(--accent-08);
}

html,
body {
    font-size: 16px;
    min-height: 100vh;
    min-height: 100dvh;
    color: var(--fg-1);
    scroll-behavior: smooth;
    color-scheme: light dark;
    font-family: var(--font-body);
    background-color: var(--bg-1);
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--fg-1);
}

.link {
    font-weight: 500;
    color: var(--accent);
}

.link:hover {
    text-decoration: underline;
}

.scrollbar {
    overflow: hidden auto;
}

.scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 1000px;
    border: 6px var(--bg-2) solid;
    background-color: var(--bg-3);
    background-clip: padding-box;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    border: 6px var(--bg-3) solid;
    border-color: transparent;
    background-color: var(--bg-1);
    background-clip: padding-box;
}

button {
    border: 1px solid transparent;
    transition:
        filter 0.1s ease,
        box-shadow 0.1s ease,
        border 0.1s ease;
}

button:focus-visible {
    border: 1px solid var(--accent-50);
}

.button {
    height: 36px;
    display: flex;
    gap: 8px;
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-body);
    background-color: var(--bg-3);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    color: var(--fg-1);
    transition:
        filter 0.1s ease,
        box-shadow 0.1s ease,
        border 0.1s ease;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
    filter: brightness(1.15);
}

.button:active:not(:disabled) {
    filter: brightness(1.3);
}

.button.round {
    height: 38px;
    padding: 0 24px;
    border-radius: 1000px;
}

.button.submit {
    width: 100%;
    height: 44px;
    font-size: 16px;
}

.button.primary {
    color: var(--accent-fg);
    background-color: var(--accent);
}

.button.success {
    color: var(--success-fg);
    background-color: var(--success);
}

.button.danger {
    color: var(--danger-fg);
    background-color: var(--danger);
}

.button.transparent {
    color: var(--fg-1);
    background-color: transparent;
}

ul,
ol {
    list-style: none;
}

li::marker {
    color: transparent;
}

::-webkit-calendar-picker-indicator:focus-visible {
    border-radius: 2px;
    outline: 4px solid var(--accent);
    outline-offset: 3px;
}

input {
    font-family: var(--font-body);
}

input[type="date"] {
    cursor: pointer;
}

:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.thinScroller::-webkit-scrollbar {
    width: 10px;
}

.thinScroller::-webkit-scrollbar-track {
    background: transparent;
}

.thinScroller::-webkit-scrollbar-thumb {
    background: var(--accent);
    border: 3px solid var(--bg-1);
    border-radius: 100vw;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.formGrid > *:last-child {
    align-self: flex-end;
}

.chipList {
    display: flex;
    flex-wrap: wrap;
}

.chipList > li {
    max-width: 100%;
}

.buttonContainer {
    display: flex;
    gap: 16px;
}

.paragraph.center {
    text-align: center;
}

.paragraph > h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

.paragraph > p,
.paragraph > ol > li,
.paragraph > ul > li {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 24px;
    color: var(--fg-2);
}

.paragraph > ul {
    margin-left: 2rem;
    list-style-type: disc;
}

.paragraph > ol {
    margin-left: 2rem;
    list-style-type: numeral;
}

.paragraph a {
    font-weight: 400;
}

.paragraph a:hover {
    text-decoration: underline;
}

h4 {
    margin-bottom: 12px;
}

.listGrid {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 24px;
}

.listGrid > li {
    width: fit-content;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 1024px) {
    :root {
        --padding: 100px 40px;
        --gutter-x: 40px;
        --gutter-y: 120px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --padding: 60px 24px;
        --gutter-x: 24px;
        --gutter-y: 100px;
    }

    .formGrid {
        max-width: 550px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {
    :root {
        --padding: 60px 20px;
        --gutter-x: 20px;
        --gutter-y: 80px;
    }
}

@media (max-width: 320px) {
    :root {
        --padding: 20px 10px;
        --gutter-x: 10px;
        --gutter-y: 60px;
    }
}
