.main > h2 {
    font-size: clamp(32px, 8vw, 42px);
    text-align: center;
    margin: 120px 0 24px 0;
    padding: 0 10px;
}

.main > section {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
}

.main > .authContainer {
    max-width: 550px;
}

.main > .authContainer form {
    padding-top: 24px;
    grid-template-columns: 1fr;
}

.main > .authContainer form > *:last-child {
    margin-top: 24px;
}

.main > .authContainer > a {
    display: inline-flex;
    margin-top: 24px;
}

.main > section > h3 {
    font-size: 34px;
    margin-bottom: 24px;
}

.listGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    grid-gap: 16px;
}

.description {
    margin-top: 24px;
}

.description > p {
    margin-bottom: 16px;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
    font-weight: 300;
}

.description p > a:hover {
    text-decoration: underline;
}

.paginationButtons {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
