.main h2 {
    font-size: clamp(32px, 8vw, 42px);
    text-align: center;
    margin: 120px 0 24px 0;
    padding: 0 10px;
}

.main > section {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
}

.main > .paragraph {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* .main > section > div {
    margin: 1rem;
} */

.main > .authContainer {
    max-width: 550px;
}

.main > .authContainer form {
    padding-top: 24px;
    grid-template-columns: 1fr;
}

.main > .authContainer form > *:last-child {
    margin-top: 24px;
}

.main > .authContainer > a {
    display: inline-flex;
    margin-top: 24px;
}

.main > section > h3 {
    font-size: 34px;
    margin-bottom: 24px;
}

.listGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    grid-gap: 16px;
}

.paginationButtons {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
