.main {
    flex: 1;
}

.main > section {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
    width: 100%;
}

.main .paragraph {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.25;
    color: var(--foreground-3);
    max-width: var(--max-width);
    margin: 0 auto;
}

.main > section > h3 {
    font-size: 34px;
    margin-bottom: 24px;
}

.listGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    grid-gap: 16px;
}

.paginationButtons {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}

.titleBlock {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
}

.titleBlock > h2 {
    font-size: 56px;
    text-align: center;
    font-family: var(--font-heading);
    margin-bottom: 40px;
}

.titleBlock > p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
    text-align: center;
    color: var(--foreground-3);
}

.buttons {
    display: flex;
    gap: 16px;
}

.details {
    max-width: var(--max-width);
    margin: 0 auto;
}

.details > div > :first-child {
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .titleBlock > h2 {
        font-size: clamp(24px, 8vw, 32px);
    }

    .titleBlock > p {
        font-size: clamp(16px, 4vw, 20px);
    }
}

@media (max-width: 550px) {
    .titleBlock > h2 {
        margin: 60px 0 24px 0;
        padding: 0 10px;
    }

    .titleBlock > p {
        margin: 0 0 24px 0;
        padding: 0 10px;
    }
}
