.authors {
    background-color: var(--bg-1);
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

.tags {
    background-color: var(--bg-2);
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

.authors > h5,
.tags > h5 {
    margin-bottom: 10px;
}
