.form > div {
    display: flex;
}

.form > div > div {
    flex: 1;
}

.inputContainer {
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.chipGrid {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1120px) {
    .form > div {
        display: block;
    }

    .form > button {
        margin-top: 24px;
    }
}
