.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    z-index: 5;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    min-width: 480px;
    max-width: min(calc(100vw - 32px), 600px);
    max-width: min(calc(100dvw - 32px), 600px);
    max-height: calc(100vh - 32px);
    max-height: calc(100dvh - 32px);
    padding: 16px;
    background-color: var(--background-secondary);
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--border-color);
    animation:
        fadeIn 0.25s ease-in-out,
        popIn 0.25s ease-in-out;
    overflow: hidden scroll;
}

.modal::-webkit-scrollbar {
    width: 0;
}

.modal > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.modal > header > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--foreground-secondary);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: color 0.1s ease-in-out;
}

.modal > header > button:hover {
    color: var(--foreground-primary);
}

.modal > .content {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    color: var(--foreground-primary);
    word-wrap: break-word;
}

.modal > footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    border-top: 1px solid var(--border-color);
    padding: 16px 16px 0 0;
    margin: 0 -16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes popOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 512px) {
    .modal {
        min-width: 0;
        width: calc(100% - 32px);
    }
}
