.container {
    position: relative;
    border-radius: 20px;
    max-width: 550px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container:hover::before,
.focused::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    background-image: conic-gradient(
        var(--accent-primary-1),
        transparent,
        transparent,
        var(--accent-primary-2),
        transparent,
        transparent,
        var(--accent-primary-3),
        transparent,
        transparent
    );
    opacity: 0.5;
    animation: animate 4s linear infinite;
}

.content_container {
    width: 100%;
}

.content {
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
    border-radius: 12px;
    height: 100%;
    padding: 24px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.description {
    white-space: pre-wrap;
    max-width: 100%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***
 * Just change the top, right, bottom and left property
 * to modify the effect's width
 **/
.span {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 16px;
    background-color: var(--background-tertiary);
    z-index: 2;
}

.container:hover > .content {
    background-color: var(--background-tertiary);
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textContent > div > header {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 14px;
}

.textContent > div > h5 {
    font-size: 12px;
    letter-spacing: 0.02rem;
    line-height: 16px;
    font-weight: 400;
    word-wrap: break-word;
    text-transform: capitalize;
}

.textContent > p {
    word-wrap: break-word;
}

.content [data-type="hints"] {
    margin-top: 24px;
}

.content [data-type="hints"] > p {
    margin-bottom: 8px;
}

.content [data-type="hints"] li {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 16px;
    position: relative;
}

.content [data-type="hints"] li::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-primary-1);
}

.buttonContainer {
    display: flex;
    margin-top: 24px;
    gap: 16px;
}

.buttonContainer > * {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    color: var(--accent-foreground);
    background-color: var(--accent-primary-1);
    transition: background-color 0.2s ease-in-out;
}

.buttonContainer > *:hover {
    background-color: var(--accent-primary-2);
}

.buttonContainer > *:active {
    background-color: var(--accent-primary-3);
}
/* 
.childrenContent {
    margin-top: 24px;
} */

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 360deg;
    inherits: false;
}

[data-theme="light"] .container > div:first-child {
    background: linear-gradient(
        var(--gradient-angle),
        var(--accent-primary-outline),
        hsla(0, 0%, 100%, 0.1),
        var(--accent-primary-1),
        hsla(0, 0%, 100%, 0.3)
    );
}

.container > div:first-child {
    background: linear-gradient(
        var(--gradient-angle),
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0.1),
        hsl(0, 0%, 100%),
        hsla(0, 0%, 100%, 0.3)
    );
    border-radius: 14px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transform: translate(-1px, -1px);
    z-index: 0;
}
