.container {
    padding: 18px;
    display: block;
    width: max-content;
    position: relative;
    border-radius: var(--radius-xlarge);
    max-width: min(100%, 550px);
    background: var(--surface-0);
    border: 1px solid var(--surface-border);
    box-shadow: var(--boxshadow-light);
}

a.container:hover {
    border-color: var(--accent-20);
    background: var(--surface-hover);
}

.container > header {
    gap: 12px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    margin-bottom: 18px;
}

.container > header > h4 {
    margin: 0;
    font-size: 19px;
    font-weight: 800;
    max-width: 100%;
    overflow: hidden;
    white-space: wrap;
    word-break: break-word;
    text-overflow: ellipsis;
    color: var(--fg-1);
}

.container > header > .chip,
.container > section > h5 > .chip {
    font-size: 12px;
    padding: 3px 8px;
    font-weight: 800;
    color: var(--accent-fg);
    white-space: nowrap;
    border-radius: var(--radius-full);
    text-transform: capitalize;
    background-color: var(--accent);
}

.container > section {
    padding: 10px;
    border-radius: var(--radius-large);
    background: var(--surface-1);
    border: 1px solid var(--surface-border);
}

.container.lighter > section {
    background: var(--surface-2);
}

.container > section:not(:last-child) {
    margin-bottom: 18px;
}

.container > section > h5 {
    gap: 8px;
    display: flex;
    font-size: 16px;
    font-weight: 800;
    color: var(--fg-2);
    margin-bottom: 6px;
    align-items: center;
}

.container > section > p {
    font-size: 14px;
    margin-bottom: 6px;
    color: var(--fg-4);
}

.description {
    font-size: 15px;
    line-height: 1.55;
    color: var(--fg-3);
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-break: break-word;
}

.list {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

.listItem {
    gap: 8px;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 8px;
    color: var(--fg-3);
    border-radius: var(--radius-medium);
    align-items: center;
    background: var(--surface-2);
    border: 1px solid var(--surface-border);
}

.container > footer {
    gap: 24px;
    display: flex;
    font-size: 13px;
    margin-top: 24px;
    color: var(--fg-4);
    align-items: center;
    justify-content: space-between;
}

.container > footer > :first-child {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.createdAt {
    font-size: 11px;
    cursor: default;
    padding: 3px 6px;
    font-weight: 800;
    background: var(--surface-1);
    border: 1px solid var(--surface-border);
    border-radius: var(--radius-medium);
}

.lighter .createdAt,
.lighter input,
.lighter textarea,
.lighter select {
    background: var(--surface-0);
}

.tools {
    gap: 8px;
    display: flex;
}

.edit,
.delete {
    padding: 8px;
    display: flex;
    cursor: pointer;
    margin-top: 16px;
    color: var(--fg-3);
    align-items: center;
    margin-bottom: -12px;
    justify-content: center;
    background: var(--surface-1);
    border: 1px solid var(--surface-border);
    border-radius: var(--radius-large);
}

.edit:hover,
.edit:focus-visible {
    color: var(--accent);
}

.delete:hover,
.delete:focus-visible {
    color: var(--danger);
}

.description ul,
.description ol {
    padding-left: 16px;
}

.description li {
    position: relative;
}

.description ul li::before {
    top: 50%;
    width: 4px;
    height: 4px;
    left: -10px;
    content: " ";
    margin-top: 1px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(-50%);
    background-color: var(--fg-4);
}

.description ol li {
    padding-left: 6px;
}

.description ol li::before {
    top: 50%;
    left: -10px;
    font-size: 14px;
    font-weight: 700;
    color: var(--fg-4);
    position: absolute;
    transform: translateY(-50%);
    content: counter(list-item) ". ";
}

.description code,
.description pre {
    border-radius: var(--radius-medium);
    background: var(--bg-0);
}

.description code {
    padding: 1px 4px;
}

.description pre {
    margin: 4px 0;
    padding: 8px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre-wrap;
    word-break: break-word;
}

.description pre > code {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    font-size: inherit;
    background-color: transparent;
}

.description s { text-decoration: line-through; }
.description u { text-decoration: underline; }

.description a {
    cursor: pointer;
    color: var(--accent);
    text-decoration: none;
}

.description a:hover,
.description a:focus-visible {
    text-decoration: underline;
}

.description mark {
    padding: 1px 2px;
    border-radius: var(--radius-medium);
}
