.blankBank {
    flex-basis: 100%;
    background-color: var(--bg-2);
    border: 1px solid var(--bg-3);
    color: var(--fg-3);
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-top: 8px;
}

.blankBank > p {
    font-size: 13px;
    user-select: none;
    margin-bottom: 6px;
}

.blankBank span {
    cursor: default;
    user-select: none;
}

.blankBank span label {
    font-size: 14px;
    cursor: pointer;
    margin-top: 6px;
    padding: 2px 6px;
    margin-right: 4px;
    user-select: none;
    color: var(--fg-3);
    border-radius: 4px;
    display: inline-block;
    box-sizing: content-box;
    background-color: var(--bg-3);
    border: 1px solid var(--bg-4);
}

.blankBank span label:hover {
    color: var(--fg-2);
    background-color: var(--bg-4);
}

.blankBank input:checked + label {
    color: var(--fg-1);
    border: 1px solid var(--accent-50);
    background-color: var(--accent-20);
}

.blankBank input[type="checkbox"] {
    display: none;
}

.hints > li {
    font-size: 14px;
    color: var(--fg-3);
    margin-left: 20px;
}

.hints > li::before {
    width: 16px;
    content: "•";
    color: var(--fg-3);
    margin-left: -16px;
    display: inline-block;
}

.blanks > .span {
    margin-top: 4px;
    vertical-align: middle;
}

.blanks > .span > div {
    margin: 0 2px;
}

.blanks > .span > div input {
    max-width: 300px;
}

.dragContainer {
    display: flex;
    align-items: center;
}

.dragHandle {
    cursor: move;
    margin-top: 22px;
    font-size: 1.2rem;
    margin-right: 4px;
    user-select: none;
    display: inline-block;
}

.dragContainer > :last-child {
    flex-grow: 1;
}

.verbatim {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
