.inputContainer {
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.flexContainer {
    display: flex;
}

.flexContainer > div {
    flex: 1;
}

@media screen and (max-width: 1120px) {
    .flexContainer {
        display: block;
    }
}
