.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form Input{
    background-color: var(--background-1);
}

.form > div:first-child,
.form > div:nth-child(2) {
    flex-basis: 100%;
}

.courses,
.permissions {
    flex-basis: 50%;
}

.answer,
.multipleChoice,
.links,
.advanced,
.submit {
    flex-basis: 100%;
}

.links,
.advanced {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advanced > h4 {
    flex-basis: 100%;
    text-align: center;
}

.sources,
.notes,
.hints,
.tags {
    width: 50%;
}

.blankBank {
    flex-basis: 100%;
    background-color: var(--background-2);
    border: 1px solid var(--background-3);
    color: var(--foreground-3);
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-top: 4px;
}

.blankBank > p {
    margin-bottom: 14px;
    font-size: 14px;
    font-style: italic;
    user-select: none;
}

.blankBank span label {
    margin-right: 6px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: var(--background-3);
    color: var(--foreground-3);
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    border: none;
}

.blankBank span label:hover {
    opacity: 0.8;
}

.blankBank input:checked + label {
    background-color: var(--accent-3-hover);
    color: white;
}

.blankBank input[type="checkbox"] {
    display: none;
}
