.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.addSources {
  display: flex;
  margin-bottom: 24px;
}

.addSources > div {
  width: 50%;
}

.chipGrid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.chipGrid > .addChip {
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  height: 28px;
  margin: 0 4px 4px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
  cursor: pointer;
  background-color: var(--accent-tertiary-3);
  color: var(--accent-foreground);
}

.chipGrid > .addChip > button:hover {
  background-color: var(--accent-tertiary-1);
}

.chipGrid > li > div > svg {
  width: 14px;
  height: 14px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-right: -4px;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--accent-tertiary-2);
  color: var(--accent-foreground);
}

.action:hover {
  background-color: var(--accent-tertiary-3);
  color: var(--accent-foreground);
}

.action > svg {
  width: 12px;
  height: 12px;
}

.flexContainer > div {
  flex: 1;
}

.buttonContainer {
  display: flex;
  gap: 16px;
}

.lists {
  display: flex;
}

.lists > div {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 550px;
    grid-template-columns: 1fr;
  }
}
