.spinner {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--border-color);
    border-top-color: var(--fg-0);
    animation: spin 0.75s cubic-bezier(0.59, 0.01, 0.45, 0.69) infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
