.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #00000056; */
    border-radius: var(--radius-full);
}

.spinner {
    animation: rotate 1.5s linear infinite;
}

.circle {
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-dasharray: 150, 200;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 70, 150;
        stroke-dashoffset: -15;
    }
    75% {
        stroke-dasharray: 80, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -55;
    }
}
