.container {
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    width: fit-content;
}

.container > div {
    border-radius: 50%;
}

.container > button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.notification {
    height: 20px;
    bottom: -5px;
    display: flex;
    padding: 0 5px;
    min-width: 20px;
    font-weight: 700;
    position: absolute;
    align-items: center;
    border-radius: 25vw;
    justify-content: center;
    color: var(--accent-fg);
    right: calc(100% - 15px);
    background-color: var(--accent);
    border: 1px solid var(--accent);
}
