.container {
    position: relative;
    width: fit-content;
}

.container > button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.notification {
    height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-1);
    border-radius: 25vw;
    padding: 0 5px;
    font-weight: 700;
    position: absolute;
    right: calc(100% - 15px);
    bottom: -5px;
}
