.list {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.alert {
    padding: 16px;
    background-color: var(--background-3);
    color: white;
    border-radius: 4px;
    box-shadow: var(--boxshadow-dark);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    animation: slideIn 0.3s cubic-bezier(0.2, 0.65, 0.6, 1) both;
}

.alert > div:first-child {
    display: flex;
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300px);
    }
}
