.container {
    min-width: 100%;
    padding: 4px 0;
    border-radius: 6px;
    position: fixed;
    border: 1px solid var(--border-color);
    background-color: var(--background-2);
    z-index: 100;
}

.container.fit {
    min-width: fit-content;
}

.container > ul > hr {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 4px 0;
}

.container > ul > li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    user-select: none;
    cursor: pointer;
    transition: all 0.01s ease-in-out;
    white-space: nowrap;
}

.container > ul > li.icon {
    padding-left: 36px;
}

.container > ul > li.danger {
    color: rgb(240, 33, 33);
}

.container > ul > li:hover,
.container > ul > li:focus-visible {
    background-color: var(--background-3);
    outline: none;
}

.container > ul > li:active {
    opacity: 0.8;
}

.container > ul > li > div {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
