.container {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    z-index: 1000000;
    max-width: 200px;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body);
    background-color: var(--bg-4);
    border-radius: var(--radius-medium);
    box-shadow: 0 0 0 1px #0000001a, 0 2px 4px 0 #0000001a;
}
