.container {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    z-index: 10000;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.975);
}

.dialog {
    width: 100%;
    padding: 24px;
    max-width: 550px;
    max-height: 80vh;
    z-index: 1000013;
    position: relative;
    overflow: hidden auto;
    background-color: var(--bg-2);
    border-radius: var(--radius-medium);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: popIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dialog > div {
    margin: 1rem 0;
}

.header {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;
}

.header > h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--fg-2);
}

.close {
    width: 36px;
    height: 36px;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    color: var(--fg-4);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: var(--radius-medium);
    transition: background-color 0.1s ease, color 0.1s ease;
}

.close:hover,
.close:focus {
    color: var(--fg-2);
}

.close:active {
    color: var(--fg-1);
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--fg-3);
    margin-bottom: 24px;
}

.buttons {
    gap: 12px;
    display: flex;
    margin-top: 40px;
    flex-direction: row-reverse;
}

@keyframes popIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 587px) {
    .dialog {
        border-radius: 0;
        max-width: 100vw;
        max-width: 100dvw;
        min-height: 100vh;
        min-height: 100dvh;
    }
}
