.container {
    padding: 4px;
    min-width: 170px;
    background-color: var(--bg-2);
    border-radius: var(--radius-medium);
    border: 1px solid var(--border-color);
}

.container > hr {
    border: 0;
    margin: 4px 0;
    border-radius: var(--radius-full);
    border-top: 1px solid var(--border-color);
}

.container > li {
    padding: 8px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    line-height: 20px;
    color: var(--fg-2);
    border-radius: 3px;
    align-items: center;
}

.container > li.disabled {
    opacity: 0.5;
    cursor: default;
    color: var(--fg-3);
}

.container > li.danger {
    color: var(--danger);
}

.container > li:not(.disabled):hover,
.container > li:not(.disabled):focus-visible {
    outline: none;
    box-shadow: none;
    color: var(--fg-1);
    background-color: var(--bg-3);
}

.container > li:not(.disabled).danger:hover,
.container > li:not(.disabled).danger:focus-visible {
    color: var(--danger);
}

.container > li:not(.disabled):active {
    filter: brightness(1.3);
}

.container > li > svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.small {
    padding: 8px;
    display: flex;
    font-size: 14px;
    flex-direction: column;
}

.small > :first-child {
    margin-bottom: 2px;
}

.small > :nth-child(2) {
    font-size: 13px;
    color: var(--fg-4);
}
