.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.toolbar button {
  padding: 1rem;
}
.toolbar input[type="color"] {
  hight: 1rem;
  width: 1.5rem;
  margin-top: 5px;
  margin-left: 2px;
}

.pickertext {
  padding: 0.5rem;
}
