.container {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
    background-color: var(--bg-2);
}

.container > h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 1000px;
    color: var(--fg-1);
    background-color: var(--accent);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 8px;
    user-select: none;
}

.container > ul {
    padding: 2px;
    margin: -2px;
    display: flex;
    gap: 16px;
    overflow: visible;
    flex-wrap: wrap;
}

.notification {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    gap: 12px;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--bg-3);
    max-width: 360px;
    height: fit-content;
}

.notification.read {
    filter: brightness(0.9);
}

.notification > header > h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.notification > header > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
    color: var(--fg-3);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
}

.actions {
    display: flex;
    align-items: center;
}

.actions > button {
    margin-right: 12px;
}

.readButton,
.removeButton {
    top: -14px;
    right: -14px;
    border: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    color: var(--fg-2);
    align-items: center;
    justify-content: center;
    background-color: var(--bg-4);
    transition:
        filter 0.1s ease,
        color 0.1s ease;
}

.readButton {
    right: 24px;
}

.readButton:hover,
.readButton:focus-visible,
.removeButton:hover,
.removeButton:focus-visible {
    color: var(--accent);
    filter: brightness(1.15);
}

.removeButton:hover,
.removeButton:focus-visible {
    color: var(--danger);
}
