.container {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
    background-color: var(--background-2);
}

.container > h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 1000px;
    color: var(--foreground-1);
    background-color: var(--accent-1);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 8px;
    user-select: none;
}

.container > ul {
    padding: 2px;
    margin: -2px;
    display: flex;
    gap: 16px;
    overflow: visible;
    flex-wrap: wrap;
}

.notification {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    gap: 12px;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--background-1);
    max-width: 360px;
    height: fit-content;
}

.notification.read {
    opacity: 0.5;
}

.notification > header > h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.notification > header > p {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    color: var(--foreground-3);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
}

.notification > .actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.notification > .actions > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--background-3);
    color: var(--foreground-3);
    font-size: 13px;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.notification > .actions > button:hover,
.notification > .actions > button:focus-visible {
    background-color: var(--background-4);
}

.notification > .actions > button:active {
    background-color: var(--background-3);
}

.notification > .actions > button:first-child {
    background-color: var(--success);
    color: var(--foreground-1);
}

.notification > .actions > button:first-child:hover,
.notification > .actions > button:first-child:focus-visible {
    background-color: var(--success-hover);
}

.notification > .actions > button:first-child:active {
    background-color: var(--success-active);
}

.readButton,
.removeButton {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--background-3);
    color: var(--foreground-3);
    border: 0px;
    cursor: pointer;
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;
}

.readButton {
    right: 24px;
}

.removeButton:hover,
.removeButton:focus-visible {
    color: var(--error-hover);
}

.readButton:hover,
.readButton:focus-visible {
    color: var(--foreground-2);
}

.removeButton:active {
    color: var(--error-active);
}

.readButton:active {
    color: var(--foreground-1);
}
