.sourceLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 4px 8px;
    height: 48px;
    margin-top: 6px;
    color: var(--foreground-primary);
    background-color: var(--background-secondary);
}

.sourceLink:hover {
    background-color: var(--background-primary);
}
