.tags {
    background-color: var(--background-2);
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

.sources {
    background-color: var(--background-1);
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

.sourceLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 4px 8px;
    height: 48px;
    margin-top: 6px;
    color: var(--foreground-1);
    background-color: var(--background-2);
    text-transform: capitalize;
}

.sourceLink:hover {
    background-color: var(--background-1);
}
