.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form > div:first-child,
.form > div:nth-child(4),
.form > :nth-child(7) {
    flex-basis: 100%;
}

.form > button {
    flex-basis: 50%;
}

.column{
    margin: 20px 0px;
    width: 100%;
}

.column Input {
    background-color: var(--background-1);
    border-radius: var(--radius-1);
    border: none;
    padding: 0px 15px;
    background-color: var(--background-1);
}

.column Input::placeholder{
    color: var(--foreground-1);
    font-size: 14px;
    font-weight: 100;
}
.column label{
    font-size: 11px;
    font-family: var(--font-heading);
    font-weight: 600;
    margin-bottom: 15px;
}

.tags,
.permissions {
    flex-basis: calc(50% - 5px);
    border-radius: 4px;
    width: 100%;
}

.sources,
.courses {
    flex-basis: calc(50% - 5px);
    border-radius: 4px;
    width: 100%;
}

.sourceLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 4px 8px;
    height: 48px;
    margin-top: 6px;
    color: var(--foreground-1);
    background-color: var(--background-2);
    text-transform: capitalize;
}

.sourceLink:hover {
    background-color: var(--background-1);
}

@media only screen and (max-width: 480px)  {
    
}