.section {
    background-color: var(--background-2);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.section:nth-child(even) {
    background-color: var(--background-1);
}

.section > h5 {
    margin-bottom: 8px;
}

.sourceLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 4px 8px;
    height: 48px;
    margin-top: 6px;
    color: var(--foreground-1);
    background-color: var(--background-2);
    text-transform: capitalize;
}

.sourceLink:hover {
    background-color: var(--background-1);
}
