.main {
    max-width: var(--max-width);
    padding: var(--padding);
    margin: 0 auto;
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 270px 1fr;
}

.tabList {
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tabList > li {
    position: relative;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--fg-2);
    user-select: none;
}

.tabList > li:hover,
.tabList > li:focus-within {
    background-color: var(--bg-2);
    color: var(--fg-1);
}

.tabList > li:active {
    background-color: var(--bg-3);
}

.tabList > li.active {
    background-color: var(--bg-3);
    color: var(--fg-1);
}

.tabList > li.active::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    width: 4px;
    height: 70%;
    background-color: var(--accent-1);
    border-radius: 1000px;
}

.main > section {
    padding-left: 32px;
}

.main > section > h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.main > section > h1 > button {
    display: inline-flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    color: var(--fg-2);
    border-radius: 3px;
    cursor: pointer;
}

.main > section > h1 > button:hover {
    background-color: var(--bg-2);
    color: var(--fg-1);
}

.content {
    display: flex;
    gap: 32px;
}

.content > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 0;
}

.content > div:first-child {
    flex: 1;
}

.content > div:last-child {
    width: 250px;
    padding: 40px 32px 40px 0;
}

.content > div > .buttons {
    display: flex;
    gap: 12px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar > div {
    width: 125px;
    height: 125px;
    border-radius: 1000px;
    background-color: var(--bg-3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatar > div > img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    object-fit: cover;
}

.avatar > div > span {
    font-size: 38px;
    user-select: none;
}

.avatar > div > button {
    gap: 10px;
    left: 50%;
    padding: 6px;
    bottom: -20px;
    display: flex;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    border-radius: 5px;
    color: var(--fg-2);
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    font-family: var(--font-body);
    background-color: var(--bg-1);
    border: 1px solid var(--border-color);
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;
}

.avatar > div > button > p {
    text-wrap: nowrap;
}

.avatar > div > button:nth-of-type(2) {
    left: unset;
    right: 0;
    top: 0;
    transform: none;
    bottom: auto;
    padding: 6px;
}

.avatar > div > button:hover {
    background-color: var(--bg-2);
    color: var(--fg-1);
}

.avatar > div > button:nth-of-type(2):hover {
    color: var(--danger);
}

@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column-reverse;
    }

    .content > div:last-child {
        padding: 32px 0 0 0;
    }

    .avatar {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .main {
        display: block;
    }

    .tabList {
        padding-right: 0;
        margin-bottom: 80px;
    }

    .main > section {
        padding-left: 0;
    }
}
