.iconContainer > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.iconContainer > div > input {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.image {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
}

.image > img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--background-secondary);
}

.image > div {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--background-secondary);
}
