.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form Input{
    background-color: var(--background-1);
}

.form > div, .submit {
    flex-basis: 100%;
}

.permissions {
    flex-basis: 50%;
}

.links {
    padding: 1rem;
}